* {
  margin: 0;
  padding: 0;
}

body {
  background: #4a98f7;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: min-content 1fr min-content;
}

header {
  padding: 50px;
  background: #ffffff;
}

header,
footer {
  text-align: center;
}

main {
  padding: 50px;
}

.main {
  display: flex;
  gap: 10px;
  max-width: 1050px;
  align-items: center;
  justify-content: center;
}

section {
  background: #ffffff;
}

footer {
  padding: 50px;
  background: black;
  color: white;
}
